{% extends 'frame.html' %}
{% block content %}
<div class="grid">
    {% for img in imgs %}
    <div class="grid-item">
        <div class="ui card">
            <div class="image">
                <img src={{img['url']}}>
            </div>
            <div class="content">
                <div class="description">
                    {{img['description']}}
                </div>
                <div class="meta">
                    {{img['created']}}
                </div>
            </div>
            <div class="extra content">
                <a>
                  <i class="user icon"></i>
                  {{img['author_name']}}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script>

$('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: 160
});
</script>
{% endblock %}