{% extends 'images.html' %}
{% block script %}
<script>
(function(){
    var totalloads = {{nentries}};
    var $grid = $('.grid');
    $grid.waitForImages(function(){
        $grid.masonry({
            itemSelector: '.grid-item',
            columnWidth: 160,
            gutter: 0,
            fitWidth: true
        });
    })
    if (totalloads>0){
        var msnry = $grid.data('masonry');
        function loadPage(){
                if (this.loadCount<=totalloads){
                      return '/page/'+this.loadCount
                 }
            }
        
        $grid.infiniteScroll({
          path: loadPage,
          append: '.grid-item',
          status: '.page-load-status',
          outlayer: msnry,
          scrollThreshold:600,
          prefill: true,
          history: false
        });
        
    }   
    $(document).on("click",".like.icon", function(){
        var $this = $(this);
        var id = $this.parent().attr('id');
        var n = Number($this.next('#nlike').text());
        Promise.resolve($.ajax({
            url:"/like",
            method:"PUT",
            data:{
                id:id
            }
        })).then(function(){
            $this.removeClass('like');
            $this.addClass('unlike heart red')
            $this.next('#nlike').text(n+1)
        })
    });
    
    $(document).on("click",".unlike.icon", function(){
        var $this = $(this);
        var id = $this.parent().attr('id');
        var n = Number($this.next('#nlike').text());
        Promise.resolve($.ajax({
            url:"/unlike",
            method:"PUT",
            data:{
                id:id
            }
        })).then(function(){
            $this.removeClass('unlike heart red');
            $this.addClass('like');
            $this.next('#nlike').text(n-1)
        })
    
    });
    $(document).on("click",".trash.icon", function(){
        var $this = $(this);
        var img_id = $this.parent().attr('id');
        Promise.resolve($.ajax({
            url:'/delete',
            method:"DELETE",
            data:{
                img_id:img_id
            }
        })).then(function(){
            window.location.href="{{path}}"
        })
    })
 
})()
</script>
{% endblock %}